/*body portfolio*/

/*navigation sector*/

/*main section*/

/* directions of work */

/*command specialist*/

/*examples of products*/
.example-list-name {
  display: block;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.example-list-about {
  font-size: 16px;
  line-height: 1.87;
  color: var(--second-color);
}

/* <!-- EXAMPLE-DESK --> */
.example-border {
  border: 1px solid #eeeeee;
  border-top: none;
  background: #ffffff;
  padding: 20px 24px;
}
.example-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.btn-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.example-btn {
  display: block;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: var(--main-letter-spacing);
  color: var(--main-color);
  border: none;
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.example-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-list-item:not(:last-child) {
  margin-right: 8px;
}
.example-btn:hover,
.example-btn:focus {
  color: #fff;
  background-color: var(--active-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.example-link:hover,
.example-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.team-wrapper {
  position: relative;
  overflow: hidden;
}

.team-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  backdrop-filter: blur(1px);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 500ms;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.team-text-overlay {
  font-weight: 400;
  color: #ffffff;
  padding-left: 24px;
  padding-right: 24px;
  letter-spacing: var(--main-letter-spacing);
  line-height: 1.5;
  font-size: 18px;
}

.example-item:hover .team-overlay {
  transform: translateY(0);
}
.example-item:focus .team-overlay {
  transform: translateY(0);
}
